{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="form-inline pull-right">
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ heading_title }}
                {{ version }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error.warning %}
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle"></i>
                {{ error.warning }}
                <button class="close" data-dismiss="alert" type="button">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <div class="module-content">
                    <div class="text-center module-content__image">
                        <img src="view/image/d_vuefront/logo.png"/>
                    </div>
                    <div class="module-content__form">
                        <div class="module-content__row">
                            <h3 class="text-center mb-1">{{ text_title }}</h3>
                            <div class="input-group">
                                <input id="connect_url" class="form-control mb-2" type="text" value="{{ catalog }}" readonly>
                                <div class="input-group-btn">
                                    <span class="btn btn-primary clipboard" data-clipboard-target="#connect_url">{{text_copy}}</span>
                                </div>
                            </div>
                            <p class="module-content__description">{{ text_description }}</p>
                        </div>
                        <hr/>
                        <div class="module-content__row">

                            <h3 class="text-center mb-1">{{text_blog_module}}</h3>
                            <div class="text-center">
                            {% if d_blog_module %}
                                <span class="btn btn-success">{{ text_blog_enabled }}</span>
                                <p class="module-content__description">{{ text_blog_description }}</p>
                            {% else %}
                                <a class="btn btn-danger" href="https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=10468" target="_blank">{{ text_blog_disabled }}</a>
                                <p class="module-content__description">{{ text_blog_description }}</p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center; padding: 30px;">{{ text_powered_by }}</div>
            </div>
        </div>
    </div>
    <style>
        .module-content{
            padding:60px 0px;
        }
        .module-content__form {
            max-width: 45%;
            margin: 0 auto;
        }
        .module-content__row{
            padding-top:30px;
            padding-bottom:30px;
        }
        .mb-1 {
            margin-bottom: 15px;
        }
        .mb-2 {
            margin-bottom: 25px;
        }
        @media(max-width: 767px) {
            .module-content__form {
                max-width: 100%;
            }
        }
        .module-content__description{
            font-size:12px;
            color:#777;
            text-align:center;
            line-height:20px;
            padding-top:20px;
        }
        .module-content__image img{
            width:200px;
        }
    </style>
    <script>
        
        var clipboard = new ClipboardJS('.clipboard');

        clipboard.on('success', function(e) {
            $(e.trigger).text('copied!');
            $(e.trigger).addClass('btn-success');

            e.clearSelection();
        });
    </script>
</div>
{{ footer }}
