{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="form-inline pull-right">
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ heading_title }}
                {{ version }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error.warning %}
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle"></i>
                {{ error.warning }}
                <button class="close" data-dismiss="alert" type="button">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <div class="module-content">
                    <div class="text-center module-content__image">
                        <img src="view/image/d_vuefront/logo.png"/>
                    </div>
                    <div class="module-content__form">
                        <input class="form-control mb-2" type="text" value="{{ catalog }}" readonly>
                        <p>{{ text_description }}</p>
                    </div>
                </div>
                <div style="text-align: center; padding: 30px;">{{ text_powered_by }}</div>
            </div>
        </div>
    </div>
</div>
<style>
    .module-content__form {
        max-width: 45%;
        margin: 0 auto;
    }
    .mb-2 {
        margin-bottom: 25px;
    }
    @media(max-width: 767px) {
        .module-content__form {
            max-width: 100%;
        }
    }
</style>
{{ footer }}
